# Dependencias
node_modules/

# Compilación y paquetes
dist/
build/
*.tgz

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Secretos y Entorno
.env
.env.local
.env.*.local

# IDE y Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Pruebas y Cobertura
coverage/
.vitest-results/

# Carpeta de test temporal (específica de tu proyecto)
tests/